.navbar {
  height: 70px;
  width: 100%;
  background: #0f172a; /* dark navy */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #38bdf8; /* light blue */
}

.links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.links li {
  cursor: pointer;
  font-size: 15px;
  transition: 0.2s;
}

.links li:hover {
  color: #38bdf8;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.resume {
  font-size: 14px;
  opacity: 0.8;
}

.download {
  background: #38bdf8;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.download:hover {
  background: #0ea5e9;
}
